// official colours
@Carmine: #A10005;
@Forest: #1A401C;
@Eggshell: #e7ddc7;
@OldLace: #f8f5e7;
@White: #fff;
@Quicksilver: #999999;
@Jet: #2f2f2f;
@Black: #000;

// unofficial colours
@brightGreen: #090;
@cancelRed: #900;
@darkBlue: #009;
@lightGrey: #ddd;

.teammanagement {
  .infotable {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-collapse: separate !important;
    border-spacing: 0;
    border: solid @Eggshell 1px;
    thead {
      th {
        background-color: @Forest;
        color: @White;
      }
    }
    tbody {
      td {
        background-color: @OldLace;
        vertical-align: middle;
      }
    }
  }
  .chooseroster {
    .heading {
      font-size: 200%;
      line-height: 200%;
      text-align: center;
    }
    .availablerosters {
      .selectroster {
        position: relative;
        display: inline-block;
        width: 191px;
        height: 191px;
        cursor: pointer;
        &:hover {
          background-color: @OldLace;
        }
        img {
          position: absolute;
          width: 128px;
          height: 128px;
          left: 32px;
          top: 10px;
        }
        .rostername {
          position: absolute;
          top: 150px;
          width: 100%;
          font-size: 150%;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }

  .team {
    .teamtable {
      width: 100%;
      .iconouter {
        display: grid;
        place-items: center;
        width: 30px;
        height: 100%;
        .iconinner {
          image-rendering: pixelated;
          display: inline-block;
          vertical-align: baseline;
        }
      }
      th.editcontrolscolumn {
        width: 150px;
      }
      td {
        &.draghandle {
          width: 30px;
        }
        &.playernumber {
          width: 20px;
          font-size: 20px;
        }
      }
      .playername {
        font-size: 15px;
        white-space: nowrap;
      }
      .playerposition {
        font-size: 10px;
      }
      .positionskills {
        font-size: 10px;
        font-style: oblique;
      }
      .playerskills {
      }
      tbody {
        &.playerinrow {
          .draghandle {
            cursor: move;
          }
        }
        &.dragsource {
          td {
            background-color: @Eggshell !important;
            border-top: solid @Eggshell 1px; // keep the fake border in sync
          }
        }
        &.dragsource {
          .normalplayernumber {
            display: none;
          }
          .draggingnowindicator {
            display: block;
          }
          .spacer {
            td {
              .line {
                background-color: @Eggshell !important;
              }
            }
          }
        }
        &.droptarget {
          tr.main {
            td {
              background-color: @White;
              .droptargetindicator {
                display: block;
                font-size: 20px;
              }
            }
          }
          .spacer {
            td {
              .line {
                background-color: @White !important;
              }
            }
          }
        }
        tr {
          &.seperator {
            padding: 0;
            margin: 0;
            td {
              padding: 0;
              margin: 0;
            }
            .line {
              margin: 0 5px;
              padding: 0;
              height: 0;
            }
            &.normal {
              .line {
                border-bottom: solid @Forest 1px;
                height: 2px;
              }
            }
            &.active {
              td {
                background-color: @White;
                .line {
                  background-color: @Carmine;
                  height: 2px;
                }
              }
            }
            &.spacer {
              td {
                .line {
                  background-color: @OldLace;
                  height: 2px;
                }
              }
            }
          }
          td {
            border-top: solid transparent 1px; // border used here to allow thicker bottom border during drag/drop
          }
          &.dragdrophighlightbottomborder {
            td {
              border-bottom: solid @brightGreen 2px;
              border-top-width: 0; // clear fake top border to avoid screen stutter
            }
          }
          &.dragdrophighlighttopborder {
            td {
              border-top: solid @brightGreen 2px;
            }
          }
          .draggingnowindicator {
            display: none;
          }
          .droptargetindicator {
            display: none;
          }
        }
      }
    }
  }
}